<<<<<<< HEAD
p {
    font-size: 10px;
    text-align: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 150px;
    text-align: center;
    border-color: transparent;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 15%;
    height: auto;
  }

  h2 {
      color: white;
      margin: 50px;
  }

  body {
      background-color: #292B2A;
  }
  .card {
background-color: transparent;
color:white;
border-color: transparent;

  }

  .connect {
    border-color: transparent;

  }

  .avatar {
    border-radius: 50%;
    height: 160px;
    width: 160px;
  }

  h3 {
    font-size: 20px;
  }
   .border {
     border-radius: 8px;
   }

  


=======
.text-wrapper {
    height: 100vh;
    background-image: url(../images/pamojaAppbackhround\ image.jpg);
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    filter: blur(87%);
}

.heading {
    color: white !important;
    /* filter: blur(0px) !important; */
}

.slogan {
    margin-bottom: 50px;
}

.registerbutton {
    background-color: #35363E;
    border-radius: 20px;
    border-width: 2px;
    border-color: white;
    width: 130px;
}

.bg-popUp {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popUp {
    width: 500px;
    height: 300px;
    background-color: white;
    text-align: center;
    position: relative;
    padding: 20px;
    border-radius: 5px;
}
>>>>>>> da7d87b99f093c0f9b10cc80d80874b2b6b94f1b
