
p {
    font-size: 10px;
    text-align: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 150px;
    text-align: center;
    border-color: transparent;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 15%;
    height: auto;
  }

  h2 {
      color: white;
      margin: 50px;
  }

  body {
      background-color: #292B2A;
     font-family: 'Karla', sans-serif;
  }
  .card {
background-color: transparent;
color:white;
border-color: transparent;

  }

  .connect {
    border-color: transparent;

  }

  .avatar {
    border-radius: 50%;
    height: 160px;
    width: 160px;
  }

  h3 {
    font-size: 20px;
  }
   .border {
     border-radius: 8px;
   }

  





.text-wrapper {
    height: 100vh;
    background-image: url(../images/pamojaAppbackhround\ image.jpg);
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    /* filter: blur(87%); */
    /* background-blend-mode: darken; */
}

.center {
    margin-top: 6%;
}

.heading {
    color: white !important;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 5px 5px #000;
}

.slogan {
    margin-bottom: 50px;
    color: white;
    font-size: 23px;
    text-shadow: 3px 3px #000;
}

.registerbutton,
.loginbutton,
.submitBtn {
    background-color: #35363E;
    border-radius: 20px;
    border-width: 2px;
    border-color: white;
    width: 130px;
}

.indent {
    margin-right: 20px;
}

.bg-popUp {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popUp {
    width: 350px;
    height: 350px;
    background-color: #F0F3F4;
    text-align: center;
    position: relative;
    padding: 20px;
    border-radius: 5px;
}


.form-container {
    display: inline-block;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.form-control {
    background-color: transparent;
}

.bg-popUpLogin {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


.container  {
  max-width: 500 !important;
  margin: auto;
  margin-top: 4%;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}

img {
  max-width: 100%;
  border-radius: 50%;
}

.msg-header {
  border: 1px solid black;
  width: 100%;
  height: 15%;
  border-bottom: none;
  display: inline-block;
  background-color: #084EAC; 

}

.msg-header-img  {
  border-radius: 50%;
  width: 40px;
  margin-left: 5%;
  margin-top: 12px;
  float: left;
}
  
.active {
 width: 200px; 
 float: left;
 margin-top: 10px;
}

.active h4  {
  font-size: 20px;
  margin-left: 20px;
  color: white;

} 

.active h6  {
  font-size: 20px; 
  margin-left: 20px; 
  color: white;

} 

.header-icons {
  width: 120px;
  float: right;
  margin-top: 12px;
  margin-right: 10px;

}

.header-icons .fa {
  color: black;
  cursor: pointer;
  margin: 10px;
}

.chat-page  {
  padding: 0 0 50px 0;
}

.msg-inbox  {
  border: 1px solid #ccc;
  overflow: hidden;
  padding-bottom: 30px;
}

.chats  {
  padding: 30px 15px 0 25px;
}

.msg-page {
  height: 516üx;
  overflow-y: auto;
}

.received-chats-img {
  display: inline-block;
  width: 20px;
  float: left;
}

.received-msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received-msg-inbox {
    width: 57%;
}

.received-msg-inbox p {
 background: #efefef none repeat scroll 0 0;
 border-radius: 10px;
 font-size: 14px;
 margin: 0;
 padding: 5px 10px 5px 12px;
 width: 100%;
}

.time {
  color: #777;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.outgoing-chats {
  overflow: hidden;
  margin: 26px 20px;
}

.outgoing-chats-msg p {
  background: #084EAC none repeat scroll 0 0;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;

}
.outgoing-chats-msg {
  float: left;
  width: 46%;
  margin-left: 45%;
}
.outgoing-chats-img {
  display: inline-block;
  width: 20px;
  float: right;

}

.msg-bottom {
  position: relative;
  height: 70px;
  background-color: #084EAC;
  border: 1px solid black;
  border-radius: 10px;

}

.input-group  {
  float: right;
  margin-top: 13px;
  margin-right: 20px;
  outline: none !important;
  border-radius: 20px;
  width: 61% !important;
  background-color: #fff;
}

.form-control {
  border: none !important;
  border-radius: 20px !important;
}

.input-group-text {
  background: transparent !important;
  border: none !important;
}

.input-group .fa {
  color: #007bff;
  float: right;
}

.bottom-icons {
  float: left;
  margin-top: 17px;
  width: 30% !important;
  margin-left: 22px;
}

.bottom-icons .fa {
  color: #fff;
  padding: 5px;
}

.form-control:focus{
  border-color: none !important;
  box-shadow: none !important;
  border-radius: 20px;
}


